/* .App {
  background-color: aqua;
} */

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.search-bar {
  border: none;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--accent);
  width: 50vw;
}

.search-button {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 0 10px 10px 0;
  color: white;
  width: 10vw;
  border: none;
  font-weight: 700;
}

.recipe-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4vw;
}
